.card {
  position: relative;
  height: 350px;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  overflow: visible;
  background-color: #fff;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 160px;
  background-color: #f7f7f7;
}

.image {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
}

.name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #222;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  line-height: 1.4;
  line-clamp: 2;
  overflow: hidden;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: #d92662;
}

.button {
  margin: 12px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #d92662;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.quantityBtn {
  position: absolute;
  bottom: -12px;
  right: 12px;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
